@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #ff6600;
    --surface: #d8d8d8;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ffcc00;
    --surface: #2c2c2c;
  }
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }
  .text-foreground {
    color: var(--foreground);
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Poppins, sans-serif;
}
